node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.dev.vars*
!.dev.vars.example

# Data Processing
data_processing/amendments_html/
data_processing/html_starting_pages/
design_library/
html_design_library/
*.gexf
!*.gexf.gz

